<!DOCTYPE html>
<html>
<head>
	<title>Agregar comentario</title>
<script src="http://code.jquery.com/jquery-latest.min.js"  type="text/javascript"></script>
</head>
<body>

<form method="post" action="/comentarios/agregar/{{ dato }}">{% csrf_token %}
    <input id="id_titulo" name="titulo" type="text" placeholder="titulo">
    <input id="id_comentario" name="comentario" type="text" placeholder="comentario">
    <input id="id_user" name="user" type="number" placeholder="id de usuario">
    <input id="id_fecha" name="fecha" type="datetime-local" placeholder="fecha">
    <h2>Simulando calificacion</h2>
    <input id="id_userFK" name="userFK" type="number" placeholder="id de usuario FK">
    <input id="id_calificacion" name="calificacion" type="number" placeholder="calificacion">
    <button type="submit" class="btn">Actualizar</button>
</form>



</body>
</html>